<h1>General Shopping List</h1>

<table>
  <tr>
    <th>Food</th>
    <th>Total Quantity</th>
    <th>Total Value</th>
  </tr>
  <% @recipe_foods.each do |recipe_food| %>
    <tr>
      <td><%= recipe_food.name %></td>
      <td><%= recipe_food.total_quantity %></td>
      <td><%= recipe_food.total_value %></td>
    </tr>
  <% end %>
</table>

<p>Total Foods to Buy: <%= @recipe_foods.size %></p>
<p>Total Value: <%= @recipe_foods.sum { |rf| rf.total_value.to_i } %></p>