<h1>Add a New Food Item</h1>
<%= form_with(model: @food, url: foods_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :measurement_unit %>
  <%= form.text_field :measurement_unit %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.label :quantity %>
  <%= form.number_field :quantity %>

  <%= form.submit 'Add Food' %>
<% end %>
